include head.pug
  head
  append head
  body
      div.Containerboth
        div.box
          h1 Log in
          div.formcontainer
           form(class="registerForm")
              input(class="usernameinput" type="text" name="username" placeholder="Username") 
              br
              input(class="passwordinput" type="password" name="password" placeholder="Password")
              br 
              button(id="submitbutton" type="submit") Log in    
           a(href="/register") Click here to register

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
  
