include head.pug
include nav.pug
  head
  append head
  body
    append navbar
      div.addpostForm
        form(action='/submit' method='POST')
          input(type='text' placeholder="Title" name="name" id="id")
          input(type='text' placeholder="Body" name="body" id="body")
          input(type='text' placeholder="Image URL" name="image" id="image")
          //- input(type='text' placeholder="bodytext" name='bodytext')
          //- input(type='text' placeholder="image" name='image')
          button(type='submit') Submit  
    script(src="/js/main.js")
