html
  head
  body
     append navbar
      ul(id="nav" )
          li
            img(class="logo" src="http://retweet.com/wp-content/uploads/2017/06/cropped-logo-1000x400-2.png")
          li
            a(class="menuItem" href="/")| Portfolio
          li
            a(class="menuItem" href="/blog")| Blog
          //- li
          //-   a(class="menuItem" href="/contact")| Contact
          li
            a(class="menuItem" href="/addPost")| Add Post
          //- li
          //-   a(class="menuItem" href="/register")| Register
